.container{
    display: flex;
    justify-content: center;
}

.form{
    display: flex;
    flex-direction: column;
    align-content: left;
    margin-top: 80px;
    border: 2px solid black;
    border-radius: 15px;
    background-color: rgb(188, 217, 251);
    width: 350px;
    min-height: 450px;
    height: fit-content;
}

.error{
    justify-content: center;
    color: red;
    margin-top: -18px;
    display: flex;
}

.elements{
    margin-left: 40px;
    margin-right: 40px;
}

.name{
    display: flex;
    align-items: last baseline;
    margin-bottom: 20px;
}

.inputName{
    margin-left: 10px;
    border-radius: 6px;
}

.labelName{
    color: Black;
}

.difficulty{
    width: fit-content;
    display: flex;
    margin-bottom: 0px;
    margin-top: 30px;
}

.labelDifficulty{
    display: flex;
    color: Black;
    margin-bottom: 3px;
    margin-right: 10px;
    margin-top: 3px;
}

.labelRadio{
    display: flex;
    flex-direction: column;
    color: Black;
    margin-bottom: 5px;
    margin-top: -7px;
    margin-inline: 10px;
}

.duration{
    display: flex;
    align-items: last baseline;
    margin-bottom: 10px;
}

.labelDuration{
    display: flex;
    color: Black;
}

.inputDuration{
    margin-left: 10px;
    width: 25px;
    border-radius: 6px;
}

.subText{
    margin-left: 8px;
    color: black;
}

.season{
    display: flex;
    margin-bottom: 25px;
    margin-top: 0px;
}

.labelSeasons{
    display: flex;
    color: Black;
}

.labelSeason{
    display: flex;
    color: Black;
}

.inputContainer{
    display: flex;
    align-content: center;
}

.inputSeason{
    display: flex;
    justify-content: center;
}

.countries{
    display: flex;
    align-items: last baseline;
    margin-top: 25px;
    margin-bottom: 15px;
}


.labelCountries{
    display: flex;
    color: Black;
}

.inputCountries{
    margin-left: 10px;
    width: 125px;
}

.listContainer{
    justify-content: center;
    margin-bottom: 15px;
    display: flex;
    min-height: 25px;
    height: fit-content;
    align-items: center;
    
}

.countryList{
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    color: black;
    margin-top: 0px;
    margin-bottom: 0px;
}

.select{
    margin-left: 10px;
    width: 150px;
}

.texto{
    margin-top: 15px;
    font-size: 30px;
    color: black;
}

.buttons{
    display: flex;
    margin-top: 0;
    margin-bottom: 40px;
    justify-content: center;
}

.button{
    margin-inline: 30px;
    transform: scale(1.5);
    width: fit-content;
    align-self: center;
    border: 1px solid black;
    justify-self: center;
}

.button2{
    margin-left: 15px;
    width: fit-content;
    align-self: center;
    border: 1px solid black;
    justify-self: center;
}
