.container{
    background-color: rgb(241, 251, 255);
    width:fit-content;
    min-width: 360px;
    max-width: 450px;
    height: fit-content;
    margin-top: 75px;
    padding-bottom: 15px;
    display: inline-block;
    justify-content: center;
    border-radius: 20px;
    border: 3px solid black;
}

.texto{
    font-size: 25px;
    color: rgb(0, 0, 0);
    margin-bottom: 5px;
    margin-top: 10px;
    margin-inline: 15px;
}

.bandera{
    transform: scale(1.8);
    width: 150px;
    height: 100px;
    margin-top: 70px;
    margin-bottom: 45px;
    border: 2px solid black;
}

.volver{
    background-color: rgb(241, 251, 255);
    border: 2px solid black;
    border-radius: 10px;
    font-size: 30px;
    color: rgb(0, 0, 0);
    padding: 8px;
}

.volver:hover{
    transform: scale(1.08);
    transform-origin: center;
    transition: transform 0.5s ease;
    border: 5px solid rgb(54, 57, 213);
    border-radius: 10px;
}

.buttonContainer{
    margin-top: 25px;
    display: flex;
    justify-content: center;
}

