.container {
    display: flex;
    flex-wrap:nowrap;
    height: 80px;
    align-items: center;
    justify-content: center;
  }

.input{
    font-size: 20px;
    border: 1px solid black;
    height: 32px;
    width: 300px;
}
