body{
    margin: 0;
    padding: 0;
    background-image: url('../../../img/landing.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
}