.container{
    background-color: rgb(188, 217, 251);
    width: 12em;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    border-right: 2px solid black;
}

.filters{
    transform: scale(1.2);
    margin-top: 10em;
    margin-right: 0.5em;
    display:flex;
    flex-direction: column;
    align-items: flex-end;
    color: black;
}

.activities{
    margin-top: 0.5em;
    margin-bottom: 2.5em;
}

.filterAct{
    transform: scale(0.1)
}

.label{
    margin-bottom: 0.5em;
}

.title{
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
    color: black;
}

.button{
    height: 2em;
    width: 6em;
    align-self: center;
    border: 1px solid black;
    margin-top: 1em;
    margin-bottom: 1em;
}