.container{
    background-color: rgb(82, 127, 179);
    width: 12em;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    border-right: 2px solid black;
}

.filters{
    transform: scale(1.3);
    margin-top: 15em;
    display:flex;
    flex-direction: column;
    align-items: flex-end;
    color: black;
}

.label{
    margin-bottom: 1.5em;
}

.title{
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
    color: black;
}

.button{
    height: 2em;
    width: 7em;
    align-self: center;
    border: 1px solid black;
    margin-bottom: 1em;
}