
.container{
    background-color: rgb(188, 217, 251);
    display: flex;
    flex-wrap: wrap;
    width: 75em;
    height: 36em;
    grid-template-columns: repeat(5, 0.1fr);
    justify-content: center;
    margin-left: 25em;
    margin-right: 13em;
    margin-top: 27px;
    padding: 40px;
    border-radius: 20px;
    border: 2px solid black;
}

.card{
    display: flex;
    justify-content: center;
    background-color: rgb(241, 251, 255);
    height: 285px;
    width: 210px;
    transform: scale(0.9);
    transform-origin: center;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    margin-inline: 10px;
}

.card:hover{
    margin-inline: 8px;
    margin-bottom: -8px;
    transform: scale(1.01);
    transition: transform 0.5s ease-in-out;
    transform-origin: center;
    cursor: pointer;
    border: 5px solid rgb(54, 57, 213);
    border-radius: 14px;
}