.container{
    height: 580px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 33px;
    margin-right: 33px;
    margin-top: 15px;
}

.card{
    display: flex;
    justify-content: center;
    background-color: rgb(134, 203, 228);
    height: 285px;
    width: 210px;
    transform: scale(0.8);
    border: 3px solid black;
    margin-inline: 30px;
    margin-bottom: 0px;
    margin-top: 0px;
    border-radius: 10px;
}

.card:hover{
    margin-inline: 28px;
    margin-bottom: -4px;
    transform: scale(101%);
    transform-origin: center;
    transition: transform 0.5s ease-in-out;
    cursor: pointer;
    border: 5px solid rgb(142, 48, 205);
    border-radius: 14px;
}