.parent {
    display: flex;
    justify-content: center;
  }

.container{
    display: grid;
    width: min-content;
    grid-template-columns: repeat(5, 0.1fr);
    justify-content: center;
    margin-top: 15px;
}

.card{
    display: flex;
    justify-content: center;
    background-color: rgb(134, 203, 228);
    height: 285px;
    width: 210px;
    transform: scale(0.9);
    transform-origin: center;
    border: 3px solid rgb(27, 63, 104);
    border-radius: 10px;
    margin-inline: 10px;
}

.card:hover{
    margin-inline: 8px;
    margin-bottom: -8px;
    transform: scale(1.01);
    transition: transform 0.5s ease-in-out;
    transform-origin: center;
    cursor: pointer;
    border: 5px solid rgb(142, 48, 205);
    border-radius: 14px;
}