.container{
    display:flex;
    justify-content: center;
}

.botones{
    margin-left: 12em;
}

.button{
    margin-inline: 1em;
    margin-top: 0.2em;
    margin-bottom: 0px;
    font-size: 25px;
}

.buttonOff{
    margin-inline: 1em;
    margin-top: 0.2em;
    margin-bottom: 0px;
    font-size: 25px;

}

.texto{
    margin-top: 3.5em;
    margin-left: 6.8em;
    justify-self: center;
    border: 3px solid black;
    background-color: rgb(241, 251, 255);
    border-radius: 8px;
    width: fit-content;
    color: rgb(0, 0, 0);
    font-size: 28px;
    padding-inline: 6px;
    margin-bottom: 25px;
}