html {
    overflow-y: scroll;
}

body{
    position: absolute;
    background-image: url('../../../img/landing2.jpg');
    background-size: cover;
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-position:center;
    width: 100%;
}