

.container{
    display:flex;
    position: absolute;
    justify-content: space-around;
    background-color: rgb(82, 127, 179);
    width: 100%;
    height: 4em;
    align-items: center;
}

.select{
    margin-left: 1em;
    height: 2em;
    width: 8em;
}


.input{
    margin-left: 1em;
    height: 2em;
    width: 12em;
    margin-right: 3em;
}

.labelPais{
    height: 2em;
    color: black;
}

.labelOrdenar{
    margin-left: 23em;
    height: 2em;
    color: black;
}


.button{
    margin-right: 15.25em;
    transform: scale(1.2);
    height: 2em;
    border: 1px solid black;
    padding-inline: 0.8em;
}
